bin/
obj/
project.lock.json
*.sln
*.zip.xls
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.shn.docstatus
*.tlb
*.vssscc
*.tlh
*.bak
*.cache
*.illc
*.log
[Bb]in
[Dd]ebug
*.lib
*.sbr
obj/
[Rr]elease*/
-Reshrper*/
[Tt]est[Rr]esult*
$tf*/

vpproject/*/vpp~*
vpproject/exports/*
vpproject/.vpprefdata
docs/*
Diagrams/*